<div class="row">
  <div class="grid-example col s12 m2">
    <h4>{{ month }}</h4>
  </div>
  <div class="grid-example col s6 m2">  
    <a class="waves-effect waves-light btn hcenter" (click)="prevMonth()">Prev</a>
  </div> 
  <div class="grid-example col s6 m2"> 
    <a class="waves-effect waves-light btn hcenter" (click)="nextMonth()">Next</a>
  </div>   
</div>

<div class="row">
    <div class="grid-example col s12 m2">
        <div *ngFor="let day of week0; let i = index;" (click)="showEvent(i, 'week0')">
            <div class="row">
                <div class="grid-example col s3 hcenter">
                    <h6 [innerHTML]="day.date"></h6> 
                </div>
                <div class="grid-example col s6 hcenter">
                    <img src="{{day.cover}}" style="height:30px" />
                </div>
                <div class="grid-example col s3 hcenter">
                    <h6> > </h6> 
                </div>
            </div>    
        </div>  
    </div>
    <div class="grid-example col s12 m2">
        <div *ngFor="let day of week1; let i = index;" (click)="showEvent(i, 'week1')">
            <div class="row">
                <div class="grid-example col s3 hcenter">
                    <h6 [innerHTML]="day.date"></h6> 
                </div>
                <div class="grid-example col s6 hcenter">
                    <img src="{{day.cover}}" style="height:30px" />
                </div>
                <div class="grid-example col s3 hcenter">
                    <h6> > </h6> 
                </div>
            </div>    
        </div>  
    </div>
    <div class="grid-example col s12 m2">
        <div *ngFor="let day of week2; let i = index;" (click)="showEvent(i, 'week2')">
            <div class="row">
                <div class="grid-example col s3 hcenter">
                    <h6 [innerHTML]="day.date"></h6> 
                </div>
                <div class="grid-example col s6 hcenter">
                    <img src="{{day.cover}}" style="height:30px" />
                </div>
                <div class="grid-example col s3 hcenter">
                    <h6> > </h6> 
                </div>
            </div>    
        </div>  
    </div>
    <div class="grid-example col s12 m2">
        <div *ngFor="let day of week3; let i = index;" (click)="showEvent(i, 'week3')">
            <div class="row">
                <div class="grid-example col s3 hcenter">
                    <h6 [innerHTML]="day.date"></h6> 
                </div>
                <div class="grid-example col s6 hcenter">
                    <img src="{{day.cover}}" style="height:30px" />
                </div>
                <div class="grid-example col s3 hcenter">
                    <h6> > </h6> 
                </div>
            </div>    
        </div>  
    </div>
    <div class="grid-example col s12 m2">
        <div *ngFor="let day of week4; let i = index;" (click)="showEvent(i, 'week4')">
            <div class="row">
                <div class="grid-example col s3 hcenter">
                    <h6 [innerHTML]="day.date"></h6> 
                </div>
                <div class="grid-example col s6 hcenter">
                    <img src="{{day.cover}}" style="height:30px" />
                </div>
                <div class="grid-example col s3 hcenter">
                    <h6> > </h6> 
                </div>
            </div>    
        </div>  
    </div>
    <div class="grid-example col s12 m2">
        <div *ngFor="let day of week5; let i = index;" (click)="showEvent(i, 'week5')">
            <div class="row">
                <div class="grid-example col s3 hcenter">
                    <h6 [innerHTML]="day.date"></h6> 
                </div>
                <div class="grid-example col s6 hcenter">
                    <img src="{{day.cover}}" style="height:30px" />
                </div>
                <div class="grid-example col s3 hcenter">
                    <h6> > </h6> 
                </div>
            </div>    
        </div>  
    </div>
</div>
  
<div class="row">
    <div  *ngIf="currentEvent" id="overlay4" class="grid-example col s12">
        <div>
            <div class="row header">
                <div class="grid-example col s12">
                    <a (click)="hideEvent()" class="detail"><i class="material-icons" >keyboard_arrow_left</i></a>
                    <span class="detail" style="margin-left:150px"><i class="material-icons">thumb_up</i></span>
                    
                </div>        
            </div>        
            <div class="row">
                <div class="grid-example col s12">
                    <h2 class="detail">{{ currentEvent.name }}</h2>
                    <img class="md-user-avatar hcenter" src="{{ currentEvent.cover }}" width="150px" />
                    <p class="hcenter detail"><span>Name : {{ currentEvent.name }}</span></p>
                </div>    
            </div>    
        </div>   
        <!--<div class="background"></div>-->
    </div>
</div>    